In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/Users/nikmag/Desktop/Visualisation/project-thehighersociety/src/assets/SYB61_T14_Gross Value Added by Economic Activity.csv")

In [4]:
df.drop(columns=['Region/Country/Area', 'Footnotes', 'Source'], axis=1, inplace=True)

In [5]:
df.rename(columns={'Unnamed: 1': 'Country'}, inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.Series.value_counts()

Services (% of gross value added)                                      1453
Industry (% of gross value added)                                      1453
Agriculture, hunting, forestry and fishing (% of gross value added)    1439
Name: Series, dtype: int64

In [9]:
df.head()

       Country  Year                                             Series  Value
0  Afghanistan  1985  Agriculture, hunting, forestry and fishing (% ...   51.2
1  Afghanistan  1995  Agriculture, hunting, forestry and fishing (% ...   65.7
2  Afghanistan  2005  Agriculture, hunting, forestry and fishing (% ...   35.2
3  Afghanistan  2010  Agriculture, hunting, forestry and fishing (% ...   28.8
4  Afghanistan  2014  Agriculture, hunting, forestry and fishing (% ...   24.9

In [10]:
pivot = df.pivot(columns='Series', values='Value')
pivot.reset_index(inplace=True)

In [11]:
df.reset_index(inplace=True)

In [12]:
a = pd.merge(df, pivot, on = 'index')

In [13]:
a

,index,Country,Year,Series,Value,"Agriculture, hunting, forestry and fishing (% of gross value added)",Industry (% of gross value added),Services (% of gross value added)
0,0,Afghanistan,1985,"Agriculture, hunting, forestry and fishing (% ...",51.2,51.2,NaN,NaN
1,1,Afghanistan,1995,"Agriculture, hunting, forestry and fishing (% ...",65.7,65.7,NaN,NaN
2,2,Afghanistan,2005,"Agriculture, hunting, forestry and fishing (% ...",35.2,35.2,NaN,NaN
3,3,Afghanistan,2010,"Agriculture, hunting, forestry and fishing (% ...",28.8,28.8,NaN,NaN
4,4,Afghanistan,2014,"Agriculture, hunting, forestry and fishing (% ...",24.9,24.9,NaN,NaN
5,5,Afghanistan,2015,"Agriculture, hunting, forestry and fishing (% ...",22.7,22.7,NaN,NaN
6,6,Afghanistan,2016,"Agriculture, hunting, forestry and fishing (% ...",24.1,24.1,NaN,NaN
7,7,Afghanistan,1985,Industry (% of gross value added),24.9,NaN,24.9,NaN
8,8,Afghanistan,1995,Industry (% of gross value added),10.5,NaN,10.5,NaN
9,9,Afghanistan,2005,Industry (% of gross value added),26.0,NaN,26.0,NaN
10,10,Afghanistan,2010,Industry (% of gross value added),21.3,NaN,21.3,NaN
11,11,Afghanistan,2014,Industry (% of gross value added),21.4,NaN,21.4,NaN
12,12,Afghanistan,2015,Industry (% of gross value added),22.7,NaN,22.7,NaN
13,13,Afghanistan,2016,Industry (% of gross value added),22.0,NaN,22.0,NaN
14,14,Afghanistan,1985,Services (% of gross value added),23.9,NaN,NaN,23.9
15,15,Afghanistan,1995,Services (% of gross value added),23.8,NaN,NaN,23.8
16,16,Afghanistan,2005,Services (% of gross value added),38.8,NaN,NaN,38.8
17,17,Afghanistan,2010,Services (% of gross value added),49.8,NaN,NaN,49.8
18,18,Afghanistan,2014,Services (% of gross value added),53.6,NaN,NaN,53.6
19,19,Afghanistan,2015,Services (% of gross value added),54.7,NaN,NaN,54.7
20,20,Afghanistan,2016,Services (% of gross value added),53.9,NaN,NaN,53.9
21,21,Albania,1985,"Agriculture, hunting, forestry and fishing (% ...",38.7,38.7,NaN,NaN
22,22,Albania,1995,"Agriculture, hunting, forestry and fishing (% ...",54.3,54.3,NaN,NaN
23,23,Albania,2005,"Agriculture, hunting, forestry and fishing (% ...",21.5,21.5,NaN,NaN
24,24,Albania,2010,"Agriculture, hunting, forestry and fishing (% ...",20.7,20.7,NaN,NaN
25,25,Albania,2014,"Agriculture, hunting, forestry and fishing (% ...",22.9,22.9,NaN,NaN
26,26,Albania,2015,"Agriculture, hunting, forestry and fishing (% ...",22.9,22.9,NaN,NaN
27,27,Albania,2016,"Agriculture, hunting, forestry and fishing (% ...",22.7,22.7,NaN,NaN
28,28,Albania,1985,Industry (% of gross value added),43.1,NaN,43.1,NaN
29,29,Albania,1995,Industry (% of gross value added),26.5,NaN,26.5,NaN
...,...,...,...,...,...,...,...,...
4315,4315,Zambia,2015,Industry (% of gross value added),35.3,NaN,35.3,NaN
4316,4316,Zambia,2016,Industry (% of gross value added),35.8,NaN,35.8,NaN
4317,4317,Zambia,1985,Services (% of gross value added),35.9,NaN,NaN,35.9
4318,4318,Zambia,1995,Services (% of gross value added),48.1,NaN,NaN,48.1
4319,4319,Zambia,2005,Services (% of gross value added),55.9,NaN,NaN,55.9
4320,4320,Zambia,2010,Services (% of gross value added),55.9,NaN,NaN,55.9
4321,4321,Zambia,2014,Services (% of gross value added),57.4,NaN,NaN,57.4
4322,4322,Zambia,2015,Services (% of gross value added),59.4,NaN,NaN,59.4
4323,4323,Zambia,2016,Services (% of gross value added),59.2,NaN,NaN,59.2
4324,4324,Zimbabwe,1985,"Agriculture, hunting, forestry and fishing (% ...",20.8,20.8,NaN,NaN
4325,4325,Zimbabwe,1995,"Agriculture, hunting, forestry and fishing (% ...",14.0,14.0,NaN,NaN
4326,4326,Zimbabwe,2005,"Agriculture, hunting, forestry and fishing (% ...",12.3,12.3,NaN,NaN
4327,4327,Zimbabwe,2010,"Agriculture, hunting, forestry and fishing (% ...",13.4,13.4,NaN,NaN
4328,4328,Zimbabwe,2014,"Agriculture, hunting, forestry and fishing (% ...",12.3,12.3,NaN,NaN
4329,4329,Zimbabwe,2015,"Agriculture, hunting, forestry and fishing (% ...",11.8,11.8,NaN,NaN
4330,4330,Zimbabwe,2016,"Agriculture, hunting, forestry and fishing (% ...",11.2,11.2,NaN,NaN
4331,4331,Zimbabwe,1985,Industry (% of gross value added),27.8,NaN,27.8,NaN
4332,4332,Zimbabwe,1995,Industry (% of gross value added),28.8,NaN,28.8,NaN
4333,4333,Zimbabwe,2005,Industry (% of gross value added),41.9,NaN,41.9,NaN
4334,4334,Zimbabwe,2010,Industry (% of gross value added),28.4,NaN,28.4,NaN
4335,4335,Zimbabwe,2014,Industry (% of gross value added),25.8,NaN,25.8,NaN
4336,4336,Zimbabwe,2015,Industry (% of gross value added),24.5,NaN,24.5,NaN
4337,4337,Zimbabwe,2016,Industry (% of gross value added),24.3,NaN,24.3,NaN
4338,4338,Zimbabwe,1985,Services (% of gross value added),51.4,NaN,NaN,51.4
4339,4339,Zimbabwe,1995,Services (% of gross value added),57.2,NaN,NaN,57.2
4340,4340,Zimbabwe,2005,Services (% of gross value added),45.9,NaN,NaN,45.9
4341,4341,Zimbabwe,2010,Services (% of gross value added),58.1,NaN,NaN,58.1
4342,4342,Zimbabwe,2014,Services (% of gross value added),62.0,NaN,NaN,62.0
4343,4343,Zimbabwe,2015,Services (% of gross value added),63.7,NaN,NaN,63.7
4344,4344,Zimbabwe,2016,Services (% of gross value added),64.5,NaN,NaN,64.5

In [14]:
b = a.groupby(as_index=False ,by=['Country', 'Year']).agg({'Agriculture, hunting, forestry and fishing (% of gross value added)':'first', 'Industry (% of gross value added)': 'first', 'Services (% of gross value added)': 'first'})

In [16]:
b.fillna(np.mean, inplace=True)

In [17]:
b.isnull().sum()

Country                                                                0
Year                                                                   0
Industry (% of gross value added)                                      0
Services (% of gross value added)                                      0
Agriculture, hunting, forestry and fishing (% of gross value added)    0
dtype: int64

In [19]:
b.to_csv("processed_economic_activity.csv", index=False)

In [20]:
b

,Country,Year,Industry (% of gross value added),Services (% of gross value added),"Agriculture, hunting, forestry and fishing (% of gross value added)"
0,Afghanistan,1985,24.9,23.9,51.2
1,Afghanistan,1995,10.5,23.8,65.7
2,Afghanistan,2005,26.0,38.8,35.2
3,Afghanistan,2010,21.3,49.8,28.8
4,Afghanistan,2014,21.4,53.6,24.9
5,Afghanistan,2015,22.7,54.7,22.7
6,Afghanistan,2016,22.0,53.9,24.1
7,Albania,1985,43.1,18.3,38.7
8,Albania,1995,26.5,19.2,54.3
9,Albania,2005,28.7,49.8,21.5
10,Albania,2010,28.7,50.7,20.7
11,Albania,2014,24.6,52.5,22.9
12,Albania,2015,24.2,53.0,22.9
13,Albania,2016,23.7,53.6,22.7
14,Algeria,1985,49.8,41.9,8.4
15,Algeria,1995,47.9,41.7,10.4
16,Algeria,2005,59.7,32.3,8
17,Algeria,2010,51.4,40.0,8.6
18,Algeria,2014,43.9,45.4,10.7
19,Algeria,2015,37.2,50.7,12.1
20,Algeria,2016,36.1,51.1,12.7
21,Andorra,1985,18.3,81.2,0.5
22,Andorra,1995,18.8,80.7,0.5
23,Andorra,2005,17.3,82.3,0.4
24,Andorra,2010,14.6,84.8,0.5
25,Andorra,2014,11.0,88.4,0.6
26,Andorra,2015,10.8,88.6,0.5
27,Andorra,2016,11.1,88.4,0.6
28,Angola,1985,43.5,42.8,13.8
29,Angola,1995,67.4,25.2,7.4
...,...,...,...,...,...
1423,Viet Nam,2010,36.7,42.2,21
1424,Viet Nam,2014,36.9,43.4,19.7
1425,Viet Nam,2015,37.0,44.2,18.9
1426,Viet Nam,2016,36.4,45.5,18.1
1427,Yemen,1995,27.4,55.3,17.3
1428,Yemen,2005,43.8,46.5,9.6
1429,Yemen,2010,34.4,53.4,12.1
1430,Yemen,2014,36.1,50.0,13.9
1431,Yemen,2015,20.6,62.0,17.4
1432,Yemen,2016,31.0,53.6,15.4
1433,Zambia,1985,50.8,35.9,13.3
1434,Zambia,1995,36.8,48.1,15.1
1435,Zambia,2005,28.6,55.9,15.5
1436,Zambia,2010,34.1,55.9,10
1437,Zambia,2014,35.3,57.4,7.3
1438,Zambia,2015,35.3,59.4,5.3
1439,Zambia,2016,35.8,59.2,5.1
1440,Zanzibar,1995,22.5,56.2,21.3
1441,Zanzibar,2005,17.5,59.5,23
1442,Zanzibar,2010,19.2,48.3,32.5
1443,Zanzibar,2014,18.6,50.7,30.7
1444,Zanzibar,2015,19.8,51.9,28.3
1445,Zanzibar,2016,20.5,51.1,28.4
1446,Zimbabwe,1985,27.8,51.4,20.8
1447,Zimbabwe,1995,28.8,57.2,14
1448,Zimbabwe,2005,41.9,45.9,12.3
1449,Zimbabwe,2010,28.4,58.1,13.4
1450,Zimbabwe,2014,25.8,62.0,12.3
1451,Zimbabwe,2015,24.5,63.7,11.8
1452,Zimbabwe,2016,24.3,64.5,11.2